{% extends 'base.html' %}

{% block content %}
    <h2>My Pins</h2>
    {% if user_pins %}
        <div class="grid-container">
            {% for pin in user_pins %}
                <div class="grid-item">
                    <a href="{% url 'pin_detail' pin_id=pin.id %}">
                    <img src="{{ pin.file.url }}" alt="{{ pin.description }}" class="img-thumbnail">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No pins found.</p>
    {% endif %}
{% endblock %}