{% extends 'base.html' %}

{% block content %}
  <style>
    .pin-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

  </style>

  <h2>Pin List</h2>
  <div class="container-fluid">
        <div class="grid-container">
            {% for pin in pins %}
                <div class="pin-item">
                    <a href="{% url 'pin_detail' pin_id=pin.id %}">
                        <img src="{{ pin.file.url }}" alt="{{ pin.description }}" class="img-thumbnail">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
