{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form class="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
                <div class="profile-container mt-4">
                    <h2 class="text-center">Your Profile</h2>
                    {% if user.userprofile.image %}
                        <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}'s profile image" class="profile-image img-fluid rounded-circle mx-auto d-block">
                    {% else %}
                        <img src="{% static 'default_profile_image/blank_profile.png' %}" alt="Default profile image" class="profile-image img-fluid rounded-circle mx-auto d-block">
                    {% endif %}
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Bio:</strong> {{ user.userprofile.bio }}</p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-success btn-block">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
