{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Register</h2>
    <form method="post" action="{% url 'register' %}" style="margin-top: 20px;">

      {% csrf_token %}

      <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
      </div>

      <div>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
      </div>

      <div>
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
      </div>

      <button type="submit">Register</button>

    </form>
  </div>
{% endblock %}
