{% extends 'base.html' %}

{% block content %}

<div style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 style="text-align: center; color: #333;">Register</h2>
    <form method="post" action="{% url 'register' %}" style="margin-top: 20px;">

      {% csrf_token %}
      <div style="margin-bottom: 15px;">
        <label for="{{ form.username.id_for_label }}" style="display: block; margin-bottom: 5px; color: #666; font-weight: bold;">Username:</label>
        {{ form.username }}
      </div>

      <div style="margin-bottom: 15px;">
        <label for="{{ form.password1.id_for_label }}" style="display: block; margin-bottom: 5px; color: #666; font-weight: bold;">Password:</label>
        <input type="password" id="password1" name="{{ form.password1.name }}" class="password-field">
      </div>

      <div style="margin-bottom: 15px;">
        <label for="{{ form.password2.id_for_label }}" style="display: block; margin-bottom: 5px; color: #666; font-weight: bold;">Confirm Password:</label>
        <input type="password" id="password2" name="{{ form.password2.name }}" class="password-field">
      </div>

      <button type="button" id="showPasswordButton" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Show Password</button>
      <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 3px; cursor: pointer;">Register</button>

    </form>
 </div>

<script>
 let isPasswordShown = false;

 document.getElementById('showPasswordButton').addEventListener('click', function() {
    var password1 = document.getElementById('password1');
    var password2 = document.getElementById('password2');

    if (!isPasswordShown) {
      password1.type = "text";
      password2.type = "text";
      this.textContent = "Hide Password";
    } else {
      password1.type = "password";
      password2.type = "password";
      this.textContent = "Show Password";
    }

    isPasswordShown = !isPasswordShown;
 });
</script>

{% endblock %}