{% extends 'base.html' %} # нужен такой же для пинов и категорий или один потом сделать для всего с выбором

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Search Results for Users with "{{ query }}"</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for result in results %}
                                <li class="list-group-item">
                                    <a href="{% url 'user_profile' username=result.username %}">
                                        {{ result.username }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
