{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>{{ user_viewed.username }}'s Profile</h2>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            {% if user_viewed.userprofile.image %}
                                <img src="{{ user_viewed.userprofile.image.url }}" alt="{{ user_viewed.username }}'s profile image" class="profile-image">
                            {% else %}
                                <img src="{% static 'default_profile_image/blank_profile.png' %}" alt="Default profile image" class="profile-image">
                            {% endif %}
                        </div>
                        <p class="mt-3">Username: {{ user_viewed.username }}</p>
                        <p>Email: {{ user_viewed.email }}</p>
                        <p>Bio: {{ user_viewed.userprofile.bio }}</p>
                        <!-- later add pins of this user -->
                        {% if request.user == user_viewed %}
                            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
